.coin
{
width:100px;
height:100px;
margin:0px;
border-color:black;
border-spacing:0;
}


.gauche
{
width:100px;
height:75px;
margin:0px;
border-color:black;
border-spacing:0;
}

.droite
{
width:100px;
height:75px;
margin:0px;
border-color:black;
border-spacing:0;
}

.haut
{
width:75px;
margin:0px;
height:100px;
border-color:black;
}

.bas
{
width:75px;
height:100px;
margin:0px;
border-color:black;
}

.vide
{
width:75px;
height: 75px;
border-width:0px;
}

svg
{
margin:0px;
padding:0px;
display:block;
}

text
{
text-anchor: middle;
dominant-baseline: hanging;
fill: black;
font-size:10px;
}

.table
{
table-layout:fixed; border-collapse:collapse;
background-color:#ecfcf4;
}


table, table tr, table td {padding:none;border-spacing:0;}



